*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# sbt
project/project/
project/target/
target/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea
